<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lunch_break_time %>
    <%= form.text_field :lunch_break_time %>
  </div>

  <div class="field">
    <%= form.label :first_break_time %>
    <%= form.text_field :first_break_time %>
  </div>

  <div class="field">
    <%= form.label :second_break_time %>
    <%= form.text_field :second_break_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
