<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @pet.pet_name %>
</p>

<p>
  <strong>Pet breed:</strong>
  <%= @pet.pet_breed %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
